---
import ConsultingService from '@/components/ConsultingService.astro';
import Resource from '@/components/Resource.astro';
import ServiceOffering from '@/components/ServiceOffering.astro';
import { useTranslations } from '@/i18n';
import Layout from '@/layouts/Layout.astro';

const { t } = useTranslations(Astro.url);

export const getStaticPaths = () => {
  return [{ params: { locale: 'en' } }, { params: { locale: 'fr' } }];
};

import envelopeIcon from '@/assets/svg/envelope.svg?raw';
import firmwareFigure from '@/assets/svg/firmware.svg?raw';
import mattermostIcon from '@/assets/svg/mattermost.svg?raw';
import openDataCaptureIcon from '@/assets/svg/open-data-capture.svg?raw';
import programmingFigure from '@/assets/svg/programming.svg?raw';
import userPlusIcon from '@/assets/svg/user-plus.svg?raw';
---

<Layout
  bilingual
  class="flex flex-col"
  hasDefaultLocaleRedirect
  title={t({
    en: 'Douglas Neuroinformatics Platform - Open Source Software and Computational Capacity',
    fr: 'Douglas Neuroinformatics Platform - Logiciels open-source et capacité de calcul'
  })}
  description={t({
    en: 'The Douglas Neuroinformatics Platform provides computing resources and open-source software for researchers at the Douglas Research Center.',
    fr: 'Le Douglas Neuroinformatics Platform fournit des ressources informatiques et des logiciels open-source aux chercheurs du Centre de recherche Douglas.'
  })}
>
  <section class="mx-auto flex min-h-[calc(100vh-64px)] max-w-3xl flex-col items-center justify-center text-center">
    <span class="text-muted-foreground text-sm font-semibold uppercase tracking-wide">
      {
        t({
          en: 'Supporting Research Excellence',
          fr: "Soutenir l'excellence en matière de recherche"
        })
      }
    </span>
    <h1 class="text-3xl font-bold leading-tight tracking-tighter md:text-4xl">
      {
        t({
          en: 'The Douglas Neuroinformatics Platform',
          fr: 'Le Douglas Neuroinformatics Platform'
        })
      }
    </h1>
    <p class="mt-3 text-gray-700 dark:text-gray-300">
      {
        t({
          en: 'We provide a Linux-based computing platform for storage and computationally intensive tasks at the Douglas Research Center. Our team also specializes in developing and deploying open-source software tailored to meet the specific needs of researchers.',
          fr: 'Nous fournissons une plateforme informatique basée sur Linux pour le stockage et les tâches de calcul intensif au Centre de recherche Douglas. Notre équipe est également spécialisée dans le développement et le déploiement de logiciels open-source adaptés aux besoins spécifiques des chercheurs.'
        })
      }
    </p>
  </section>
  <section class="mb-12 md:mb-16">
    <h2 class="mb-8 text-center text-xl font-bold leading-tight tracking-tight md:text-2xl">
      {
        t({
          en: 'Our Platforms',
          fr: 'Nos plateformes'
        })
      }
    </h2>
    <div class="grid gap-6 md:grid-cols-2">
      <ServiceOffering
        description={t({
          en: 'Our core computing platform is a single-sign-on Ubuntu Linux based computer system. Originally the computing platform of the Douglas Cerebral Imaging Centre (CIC), it has grown and generalized to meet the informatics needs of the Douglas Research Centre as a whole.',
          fr: "Notre plateforme informatique de base est un système informatique Ubuntu Linux à connexion unique. À l'origine, il s'agissait de la plateforme informatique du Centre d'imagerie cérébrale du Douglas (CIC), mais elle s'est développée et généralisée pour répondre aux besoins informatiques de l'ensemble du Centre de recherche Douglas."
        })}
        title={t({
          en: 'Core Computing Platform',
          fr: 'Plateforme informatique centrale'
        })}
        link={{
          href: 'https://docs.douglasneuroinformatics.ca',
          label: t({
            en: 'View Documentation',
            fr: 'Consulter la documentation'
          })
        }}
      />
      <ServiceOffering
        description={t({
          en: 'The Douglas Data Capture Platform is a deployment of Open Data Capture, managed by the DNP team. Open Data Capture is a web-based continuous data collection platform designed in-house for clinical researchers at the Douglas. Access to the platform is available to any Douglas researcher on request.',
          fr: "La plateforme de saisie de données du Douglas est un déploiement d'Open Data Capture, géré par l'équipe DNP. Open Data Capture est une plateforme Web de collecte continue de données conçue à l'interne pour les chercheurs cliniques du Douglas. L'accès à la plateforme est disponible à tout chercheur du Douglas sur demande."
        })}
        title={t({
          en: 'Douglas Data Capture Platform',
          fr: 'Plateforme de saisie des données du Douglas'
        })}
        link={{
          href: 'https://demo.opendatacapture.org',
          label: t({
            en: 'View Demo',
            fr: 'Voir la démo'
          })
        }}
      />
    </div>
  </section>
  <section class="mb-12 md:mb-16">
    <h2 class="mb-8 text-center text-xl font-bold leading-tight tracking-tight md:text-2xl">
      {
        t({
          en: 'Consulting Services',
          fr: 'Services de conseil'
        })
      }
    </h2>
    <div class="flex flex-col gap-8">
      <h3 class="text-lg font-semibold leading-tight tracking-tight md:text-xl">
        {
          t({
            en: 'Software Development and System Administration',
            fr: 'Développement de logiciels et administration de systèmes'
          })
        }
      </h3>
      <div class="mb-8 grid gap-12 md:grid-cols-2">
        <ConsultingService
          title={t({
            en: 'Software Engineering Processes',
            fr: "Processus d'ingénierie logicielle"
          })}
          items={[
            {
              label: t({
                en: 'Version Control',
                fr: 'Contrôle des versions'
              }),
              description: t({
                en: 'We use version control to ensure efficient collaboration and reliable, timely software delivery.',
                fr: 'Nous utilisons le contrôle des versions pour garantir une collaboration efficace et une livraison fiable et rapide des logiciels.'
              })
            },
            {
              label: t({
                en: 'Testing',
                fr: 'Tests de logiciels'
              }),
              description: t({
                en: 'Our software features automated testing to ensure its reliability and prevent future issues.',
                fr: 'Nos logiciels sont soumis à des tests automatisés afin de garantir leur fiabilité et de prévenir les problèmes futurs.'
              })
            },
            {
              label: t({
                en: 'Documentation',
                fr: 'Documentation'
              }),
              description: t({
                en: 'We document our software to make it easy for you to use and modify as your needs evolve and team members transition.',
                fr: "Nous documentons notre logiciel pour vous permettre de l'utiliser et de le modifier facilement en fonction de l'évolution de vos besoins et de la transition des membres de votre équipe."
              })
            },
            {
              label: t({
                en: 'Future Maintainability',
                fr: 'Maintenabilité future'
              }),
              description: t({
                en: 'Our software is developed in-house and fully supported by the Douglas Neuroinformatics team, providing easier maintenance compared to software created by external contractors or students.',
                fr: "Notre logiciel est développé à l'interne et entièrement soutenu par le DNP, ce qui facilite la maintenance par rapport aux logiciels créés par des entrepreneurs externes ou des étudiants."
              })
            }
          ]}
        />
        <div class="items-center justify-center [&>svg]:h-96">
          <Fragment set:html={programmingFigure} />
        </div>
      </div>
      <div class="grid gap-12 md:grid-cols-2">
        <div class="items-center justify-center [&>svg]:h-96 [&>svg]:w-auto">
          <Fragment set:html={firmwareFigure} />
        </div>

        <ConsultingService
          title={t({
            en: 'System Administration',
            fr: "Processus d'ingénierie logicielle"
          })}
          items={[
            {
              label: t({
                en: 'Evaluating Open Source Software for Custom Applications',
                fr: 'Évaluation des logiciels libres pour les applications personnalisées'
              }),
              description: t({
                en: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, ipsum porro quis sequi quas deserunt, dicta eveniet incidunt fugit quod maiores nostrum officiis dolorem dolores eligendi totam voluptate provident.',
                fr: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, ipsum porro quis sequi quas deserunt, dicta eveniet incidunt fugit quod maiores nostrum officiis dolorem dolores eligendi totam voluptate provident.'
              })
            },
            {
              label: t({
                en: 'Installing and Managing Existing Software',
                fr: 'Installation et gestion des logiciels existants'
              }),
              description: t({
                en: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, ipsum porro quis sequi quas deserunt, dicta eveniet incidunt fugit quod maiores nostrum officiis dolorem dolores eligendi totam voluptate provident.',
                fr: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, ipsum porro quis sequi quas deserunt, dicta eveniet incidunt fugit quod maiores nostrum officiis dolorem dolores eligendi totam voluptate provident.'
              })
            },
            {
              label: t({
                en: 'Specification of Physical and Cloud Hardware',
                fr: "Spécification du matériel physique et de l'informatique en nuage"
              }),
              description: t({
                en: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, ipsum porro quis sequi quas deserunt, dicta eveniet incidunt fugit quod maiores nostrum officiis dolorem dolores eligendi totam voluptate provident.',
                fr: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, ipsum porro quis sequi quas deserunt, dicta eveniet incidunt fugit quod maiores nostrum officiis dolorem dolores eligendi totam voluptate provident.'
              })
            },
            {
              label: t({
                en: 'Management of Cloud Servers',
                fr: 'Gestion des serveurs en nuage'
              }),
              description: t({
                en: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, ipsum porro quis sequi quas deserunt, dicta eveniet incidunt fugit quod maiores nostrum officiis dolorem dolores eligendi totam voluptate provident.',
                fr: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, ipsum porro quis sequi quas deserunt, dicta eveniet incidunt fugit quod maiores nostrum officiis dolorem dolores eligendi totam voluptate provident.'
              })
            }
          ]}
        />
      </div>
    </div>
  </section>
  <section class="mb-12 md:mb-16">
    <h2 class="mb-8 text-center text-xl font-bold leading-tight tracking-tight md:text-2xl">
      {
        t({
          en: 'Resources',
          fr: 'Ressources'
        })
      }
    </h2>
    <div class="grid gap-6 md:grid-cols-2">
      <Resource
        link={{
          kind: 'mailto',
          name: 'support',
          domain: 'douglasneuroinformatics.ca'
        }}
        icon={envelopeIcon}
        title={t({
          en: 'Support Requests',
          fr: "Demandes d'assistance"
        })}
      />
      <Resource
        link={{
          kind: 'standard',
          href: 'https://accounts.douglasneuroinformatics.ca'
        }}
        icon={userPlusIcon}
        title={t({
          en: 'Account Requests',
          fr: 'Demandes de compte'
        })}
      />
      <Resource
        link={{
          kind: 'standard',
          href: 'https://chat.douglasneuroinformatics.ca'
        }}
        icon={mattermostIcon}
        title={t({
          en: 'Mattermost Instance (Chat)',
          fr: 'Instance Mattermost (Discussion)'
        })}
      />
      <Resource
        link={{
          kind: 'standard',
          href: 'https://opendatacapture.org'
        }}
        icon={openDataCaptureIcon}
        title="Open Data Capture"
      />
    </div>
  </section>
</Layout>
