---
import checkCircleIcon from '@/assets/svg/check-circle.svg?raw';
import Heading from './Heading.astro';

type Props = {
  description?: string;
  title: string;
  items: {
    description: string;
    label: string;
  }[];
};

const { description, items, title } = Astro.props;
---

<div class="flex flex-col gap-5">
  <div class="flex flex-col gap-2">
    <Heading variant="h3">
      {title}
    </Heading>
    {
      description && (
        <span class="text-sm text-gray-700 dark:text-gray-300">
          <Fragment set:html={description} />
        </span>
      )
    }
  </div>
  <ul class="space-y-5">
    {
      items.map((item) => (
        <li class="flex">
          <div class="flex h-full w-10 flex-shrink-0 flex-col [&>svg]:h-8 [&>svg]:w-8 [&>svg]:fill-green-600 [&>svg]:stroke-white">
            <Fragment set:html={checkCircleIcon} />
          </div>
          <div class="flex flex-grow flex-col">
            <Heading class="mb-1.5"  variant="h5">
              {item.label}
            </Heading>
            <p class="text-sm text-gray-700 dark:text-gray-300">{item.description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</div>
