---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import { useTranslations } from '@/i18n';
import { cn } from '@/utils/cn';

import '@/assets/css/globals.css';

interface Props {
  author?: string;
  bilingual?: boolean;
  class?: string;
  description: string;
  keywords?: string[];
  hasDefaultLocaleRedirect?: boolean;
  title: string;
}

const { author, bilingual, class: className, description, keywords, hasDefaultLocaleRedirect, title } = Astro.props;
const { resolvedLanguage } = useTranslations(Astro.url);
const pathname = Astro.url.pathname.replace(/^(\/en|\/fr)/, '');
---

<!doctype html>
<html lang={resolvedLanguage}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    {author && <meta name="author" content={author} />}
    {keywords && <meta name="keywords" content={keywords.join(', ')} />}
    {
      bilingual && (
        <>
          {hasDefaultLocaleRedirect && (
            <link rel="alternate" href={new URL(pathname, Astro.site)} hreflang="x-default" />
          )}
          <link rel="alternate" href={new URL(`/en${pathname}`, Astro.site)} hreflang="en" />
          <link rel="alternate" href={new URL(`/fr${pathname}`, Astro.site)} hreflang="fr" />
        </>
      )
    }
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <script is:inline>
      let theme = window.localStorage.getItem('theme');
      if (!(theme === 'dark' || theme === 'light')) {
        theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      }
      document.documentElement.setAttribute('data-mode', theme);
      window.localStorage.setItem('theme', theme);
    </script>
  </head>
  <body class="flex min-h-screen flex-col bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    <Header />
    <main class={cn('container grow py-16', className)}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
